[2020-03-01 04:32] dcm386 opened #6 "Plex Update API Issue"
Based on what I see the plex web client doing, it looks like this request needs to be a POST. Also the X-Plex-Token=$plexToken needs to be included in the URL or else it results in a 401.

[2020-03-02 18:16] tarkah opened #7 "New lazystream release fixes xmltv / m3u channels"
Update to use the following. This always generates 100 channels per sport, and will keep the mappings active in xTeVe.

https://github.com/tarkah/lazystream/releases/tag/v1.9.7

[2020-03-02 23:06] taylor-verys commented on #6
I feel like I may have deleted some of the docs? Let me double check – I'll update you later on

[2020-03-03 00:54] taylorbourne commented on #7
Fixed with #8

[2020-03-03 00:54] #7 closed

[2020-03-03 00:56] taylorbourne commented on #6
So this is working for me – every time I run the cronjob I see Plex updating it's guide data, no 401 reported.

[code]

Are you sure you properly filled out this section of the cronjob file?

[2020-03-03 01:09] dcm386 commented on #6
Yes, it's definitely filled out. As it sits right now in cronjob.sh, curl is running in silent mode (-s), so it was failing with no messages on my machine. When I turned on verbose mode (-v instead of -s), and don't touch the curl command at all, I get a 401 response. When I changed "X-Plex-Client-Identifier" to "X-Plex-Token", I got a 404. When I forced the curl request to be a POST, I finally go

[2020-03-03 04:16] taylorbourne commented on #6
Hmm very nice, you comfortable opening up a pull request?

[2020-03-03 11:57] dcm386 commented on #6
Sure. I'll put one together after work today. I'll also experiment with removing some of the other stuff from that URL because I kind of doubt it needs things like screen resolution or browser type to work.

[2020-03-04 00:04] dcm386 commented on #6
PR https://github.com/taylorbourne/xteve_lazystream/pull/10 created

[2020-03-04 18:32] tarkah opened #11 "Seperate config from cronjob.sh"
We need to make the `cronjob.sh` something that the user can't directly edit, but they can supply variables for / edit an actual config file. Because if a change is needed to the cronjob.sh, it's currently up to the user to overwrite their file in `/config` with any changes. `/config` volume should have an actual config file they can maintain, which will be populated w/ defaults if it doesn't alre

[2020-03-04 18:34] tarkah opened #12 "Get cronjob.sh output to display in container log along w/ xteve output"
Not sure at this point how to accomplish this, but it'd be nice to see the cronjob output in the container logs along with xteve output. I'll look into best practice way to do this.

[2020-03-04 19:29] taylor-verys commented on #12
Noticed the same – for a moment it made me think that the cronjob wasn't running. I'll look into this as well.

[2020-03-04 20:59] tarkah commented on #12
I have a PR landing soon that has a bunch of structural changes that I think you'll like, and it is able to capture the cron output

[2020-03-05 01:25] taylorbourne commented on #6
Fixed with #10

[2020-03-05 01:25] #6 closed

[2020-03-05 19:14] taylorbourne commented on #12
Fixed in #13

[2020-03-05 19:14] #12 closed

[2020-03-05 19:15] taylorbourne commented on #11
Fixed in #13

[2020-03-05 19:15] #11 closed

[2020-08-19 14:28] MaDTaZ opened #19 "Guide2Go Version"
Hey
By the way this is great and love the work been a great find for the playoffs.  Once question I had was I noticed that guide2go is not the newest version.  Do you update that in the image for would that come directly from xteve?.

Any help would be appreciated I started using it for all my feeds so really want to get guide2go working and the configure json is taking a long time but with the on

[2020-08-19 18:41] taylorbourne commented on #19
Hm not sure I've seen that before. Let me take a look at updating guide2go, hoping there are no breaking changes.

[2020-08-19 18:45] taylorbourne commented on #19
@MaDTaZ looks like updating guide2go would require changes to our config files, as the github over there specifically says

I'll read through the changes and get my config updated so I'll be able to test this out. Hopefully I can get to this tonight.

[2020-08-19 18:58] MaDTaZ commented on #19
Ya now that I look back in the command prompt I see that message as well should of included the whole thing.
When ever you get a chance I have just installed standalone for now and created a task to dump it to the folder.

So no hurry here

[2020-08-20 18:31] ovcrash opened #21 "EPG Not loading in Plex"
Hi,

Great docker, thanks.

The only little problem i have is that in Plex the EPG is not loading. If i go directly to the http site for the xml file, i can see the channels and the program. It doesn't show up in Plex, and i manually added the EPG information pointing to the url of the xml file.

Anything i'm missing ?

Thanks.

[2020-08-20 19:25] taylorbourne commented on #21
I've seen this come through as a issue with xTeVe itself. I recommend adding a volume mapping to Plex so you can have it read the file directly rather than through the web server. Let me know if that helps!

[2020-08-20 19:27] tarkah commented on #21
As @taylorbourne said, this is an xteve issue. See the solution here: https://github.com/xteve-project/xTeVe-Documentation/blob/master/en/troubleshooting.md#plex

[2020-08-20 20:40] taylorbourne commented on #19
Looks like updating the config to `yaml` format is pretty easy so I don't see this being such a huge deal – opened up a PR to get this updated. Once I merge it up I'll release `1.1.0` 👍

[2020-08-20 20:50] #19 closed

[2020-08-20 21:00] tarkah opened #23 "Auto publish to dockerhub on each release"
This would be a great thing to test Github Actions with! Have it publish to docker hub when you create a new release. Would also save you some headache :P

[2020-08-20 21:53] taylorbourne commented on #23
I was just playing around with that actually.. Right now whenever I merge into `master` is auto-publishes, and I actually don't have the option to turn that off in Docker Hub. I remember when we initially set this up I saw something saying the paid tier of Docker Hub allows this type of thing?

Correct me if I'm wrong because I'd love to automate some of this stuff haha

[2020-08-20 22:02] tarkah commented on #23
Yeah, you can just turn off that integration from Docker Hub I'd imagine, then use this:

https://github.com/elgohr/Publish-Docker-Github-Action

The cool thing is it'll still keep `latest` up to date with master, but also publish tags based on your releases. Probably not necessary for this type of project, but a good practice to learn how to do!

[2020-08-20 22:07] tarkah commented on #23
Or you can keep that on and use the link for just handling releases. Something like this should work?

[code]

[2020-08-20 22:25] taylorbourne commented on #19
@MaDTaZ try the latest release, `1.1.1` – it's working great for me so far.

[2020-08-20 23:18] MaDTaZ opened #25 "Issue with new install"
So I decided to start fresh to make sure i did it right and this is the message I am getting when i run crontab
madtaz@OrignalDarkNet:~/Downloads/xteve_lazystream$ docker exec -it xteve_lazystream ./cronjob.sh
2020/08/20 16:15:08 [cronjob.sh] Running scripts...
2020/08/20 16:15:08 [cronjob.sh] Running Lazystream (NHL  via akc)...
error: The following required arguments were not provided:
    <FILE

[2020-08-20 23:28] tarkah commented on #25
@taylorbourne This appears to be caused when `$args` is blank. I think that's passed to `lazystream` as the positional argument for the file name, which is blank, so it doesn't accept it.

[2020-08-20 23:38] tarkah commented on #25
When cdn is set as not akc or a quality is specified, everything works. So its definitely the way we are trying to build the arguments with $args. I am not great with bash so I'm not 100% on what best practice is for building the arguments with it.

[2020-08-20 23:43] MaDTaZ commented on #25
Fix with editing the .env. to look like this

### Lazystream Config
use_lazystream=yes
include_nhl=yes
include_mlb=yes
cdn=akc
**quality=720p60**

### Guide2go Config
use_guide2go=yes

## List of created lineup yaml files in /guide2go
# Exmaple with 3 lineups
and took out the "
YamlList=madtaz.yaml

[2020-08-20 23:50] MaDTaZ commented on #25
Also look like it is just the mlb that is caring about the akc

2020/08/20 16:42:26 [cronjob.sh] Creating .m3u & .xml for XMLTV...
2020/08/20 16:42:26 [cronjob.sh] Playlist saved to: "/playlists/lazystream/lazystream-nhl.m3u"
2020/08/20 16:42:26 [cronjob.sh] Xmltv file saved to: "/playlists/lazystream/lazystream-nhl.xml"
**`2020/08/20 16:42:26 [cronjob.sh] Running Lazystream (MLB 720p60 via akc)..

[2020-08-20 23:52] tarkah commented on #25
Yeah, that's a workaround for now, setting the quality variable. We will get this fixed so it works out the box. Thanks for the bug report!

[2020-08-20 23:57] taylorbourne commented on #25
Yeah that section is a bit wonky, we can probably clean it up. I'm a javascript developer so this will probably take some Googling.

[2020-08-21 00:00] taylorbourne commented on #25
@tarkah I'm not going to lie, I don't even have this running locally so it's not like I'm testing all the things like I should be. I really need to figure out how to get this running outside of my unraid server.

[2020-08-21 00:08] MaDTaZ commented on #25
Ya I was first making sure what was broken now i am looking into the crontab.sh I have not done programming for a bit

[2020-08-21 00:12] taylorbourne commented on #25
So this is much cleaner.. basically stores args in an array. Though I don't think this fixes the blank space problem?

[code]

[2020-08-21 00:13] tarkah commented on #25
@taylorbourne you had the same idea as me with using an array :P review the PR I just submitted to fix this. I've tested with default ENV args and overriding quality and cdn

[2020-08-21 00:17] #25 closed

[2020-08-21 00:17] MaDTaZ commented on #25
I am super new at docker when the fix comes out what is the best way fo updating. Right now I just make a back up of my xteve and then start overlol

[2020-08-21 00:20] taylorbourne commented on #25
I guess it kind of depends on your setup.. I use Docker inside of an unraid server so it's extremely easy, updates are auto-detected and I click a button to apply. I know there's a way to do this with vanilla Docker as well, might take some Googlin.

[2020-08-21 00:23] MaDTaZ commented on #25
so I am using linuxmint with docker so i will see what I can find on google.  Thanks again All

[2020-08-21 00:32] ovcrash commented on #21
Hi,

Thanks for the information, yes i confirm that with the xml file it works.

[2020-08-21 00:32] #21 closed

[2021-01-14 15:56] Foxcon84 opened #27 "NHL logo not resolving"
I see that the URL http://home.windstream.net/dgrodecki/images/nhl/nhl_logo2.jpg is used as the logo for the channels however it seems to not be loading. Is this expected? Btw thanks for all the work on this!

[2021-01-14 16:15] tarkah commented on #27
Yeah doesn't seem to load anymore, I'll replace with a new logo. This is happening on my end with lazystream, so I'll fix things there.

[2021-01-14 18:32] #27 closed

[2021-01-14 18:35] tarkah commented on #27
@Foxcon84 I've merged the fix into master. I'd recommend deleting your mount point `.xteve` folder and `playlist` folder before building / running the updated docker. If you made any settings changes in xteve, I'd backup that settings `.xteve/settings.json`  and restoring it after running the docker.

The reason you should do this is because those logos get "cached" on xteve side. You can try just

[2021-01-14 18:36] tarkah commented on #27
Until @taylorbourne pushes this to dockerhub, you'll have to build it from this repo (I don't have access to push the image there)

[2021-01-14 18:40] Foxcon84 commented on #27
@tarkah Awesome! I'll build it shortly and make your suggested changes before updating the container

[2021-01-14 18:49] tarkah commented on #27
@Foxcon84 I lied, I forgot he set up auto-publish on master to dockerhub. The `latest` tag should pull the changes I made :)

[2021-01-14 18:52] Foxcon84 commented on #27
Oh even easier 😀

[2021-01-15 02:05] nexxai opened #29 "Video "issues"?"
I put "issues" in quotes here because I'm not sure that it's even an issue with this package, but I'm not really sure where else to ask.

When streaming an NHL game, I can see that it's getting the 720p stream and it starts playing, but the video doesn't "seem" like 60fps.  I know this is all a bit hand-wavy, so let me explain.

In the past, I've used LazyMan via Kodi and that was definitely clear

[2021-01-15 02:10] tarkah commented on #29
Yeah, so we actually added this as a variable you can specify to pass to lazystream.

In your .env file, specify:

[code]

[2021-01-15 02:33] nexxai commented on #29
@tarkah You are the man!  That was it exactly!  Thank you so much!

[2021-01-15 02:34] #29 closed

[2021-01-15 02:40] MaDTaZ opened #30 "Web UI will not laod after a reboot"
Hey All

I have been using this for a while but I dont reboot my computer very often last time I reboot I couldnt load the gui.   All I have to do to fix it is delete the .xteve folder then start the docker image back up and every thing is fine.  I then just restore my lastest backup.  I was wondering what you would need to troubleshoot or if you have an idea what it is doing wrong.  I have the ne

[2021-01-15 02:51] tarkah commented on #30
I noticed this today as well. When I opened the xteve webpage from a private tab, it worked. So maybe some cookies or something were throwing things off?

Not 100% sure why this is happening, but glad you got it fixed!

[2021-01-15 02:53] MaDTaZ commented on #30
Good Call I didn't even think of cookies will have to try that on my next reboot.

[2021-01-15 13:55] Foxcon84 opened #31 "Games stop time bound to midnight"
If your on the east coast you end up with western games running past midnight. I noticed in the xmltv that the midnight seems to be the cutoff regardless of start time. In this case you'd end up with late starting games ending only after running an hour or so.

[code]

Would it be possible to just use a 3/4 hour limit instead of being bound to midnight?

[2021-01-15 20:03] taylorbourne commented on #31
The XMLTV that this package generates is actually generated by LazyStream, probably better to open an issue there so @tarkah can track it accordingly.

https://github.com/tarkah/lazystream

[2021-01-17 02:11] tarkah commented on #31
@Foxcon84 I bumped lazystream w/ your PR and pushed that change to this master branch. Thanks again!

[2021-01-17 02:14] Foxcon84 commented on #31
@tarkah Awesome! Thanks for promoting this through 😁

[2021-01-17 02:16] #31 closed

[2021-01-19 01:16] taylorbourne commented on #31
@Foxcon84 FYI this package has been bumped, latest should be available from DockerHub 👍

[2021-01-19 01:17] taylorbourne commented on #27
@Foxcon84 realizing now that I'm here that both of these issues were from the same person! Nevertheless, `v1.1.3` has been released and should cover both of your issues 👍

[2021-01-19 01:18] taylorbourne commented on #30
@MaDTaZ any updates here? This is an issue I haven't seen before. It might be worth checking out the xTeVe logs to see if there's anything useful there.

[2021-01-19 01:28] MaDTaZ commented on #30
@taylorbourne So I actually was able to get it to do it even just stoping and starting the container.  I figured out I dont have to completely delete everything in the .xteve folder all I had to do was get rid of the .json files.  I will play with it again and see tomorrow.   I have alturismo/xteve installed as well to handle all my other iptv streams which doesn't do it.  where would the logs be

[2021-01-19 01:59] taylor-verys commented on #30
I think the logs are actually displayed in the UI somewhere in the settings, let me know if you can’t find anything.

[2021-01-19 16:18] MaDTaZ commented on #30
I was able to do more testing and I figured out what was happening I have 2 computers and one of image takes longer to start up so I wasn't waiting long enough.  I have both xteve image and this one loaded and the original one just boot quicker so I can refresh the page and it loads right away .  This one takes a few more moment to load. So chalk this up to being inpatient.

[2021-01-19 16:18] #30 closed

[2021-01-21 04:58] nexxai opened #32 "Blank Ubuntu VM/droplet to functioning Plex w/ xTeVe"
I wrote a short script that maybe someone might find useful.  If you run this on a blank Ubuntu VM, it will setup Docker, PMS and xTeVe.

[code]

[2021-01-22 19:12] taylorbourne commented on #32
This is great, thanks for posting! We can either add a scrips folder to the repo or just update the Wiki with a scripts section. For the former, feel free to open a PR – we can also add a "scripts" section in the readme explaining what this does.

[2021-01-24 00:13] umbynos opened #33 "Playback error: Could not tune channel. Please check your tuner or antenna."
Hello! Thanks for the container! Unfortunately, I cannot get it working:
Plex (version 1.21.1.3876) keeps saying: "Playback error: Could not tune channel. Please check your tuner or antenna."

To create the container I used `docker create --name=xteve_lazystream -p 34400:34400 -e TZ="America/Los_Angeles" --env-file=xteve.env --log-opt max-size=10m --log-opt max-file=3 -v $CONFIG_PATH".config/xteve

[2021-01-24 01:48] taylorbourne commented on #33
Hey @umbynos – not seeing anything useful in the Plex logs besides that it was unable to start the stream. Can you post up your xTeVe logs as well? Not sure where they would be on your particular setup. Also, I would look inside the generated m3u from Lazystream and grab one of the stream links – try to open that in VLC.

[2021-01-24 19:03] umbynos commented on #33
Thanks for the quick reply! Here are the [xteve](https://github.com/taylorbourne/xteve_lazystream/files/5862945/xteve.txt) logs
I tried to open the stream files (from the `lazystream-nhl.m3u` file) in vlc but it gives this message in loop:
[code]

[2021-01-24 19:23] taylor-verys commented on #33
Ah I forgot if you’re going to run the stream you’ll need to setup your hosts properly.

See this comment for the proper setup:
https://github.com/tarkah/lazystream/issues/54#issuecomment-764801815

[2021-01-24 22:44] umbynos commented on #33
Unfortunately, my `/etc/hosts` include already:
[code]
By pinging `freegamez.ga` I get `165.22.201.101` which should be the right IP

[2021-01-28 21:38] umbynos commented on #33
@taylorbourne @taylor-verys any news? There's anything I can do to help?

[2021-01-28 21:47] taylorbourne commented on #33
Sorry I occasionally accidentally post from my work account; had to delete that! My best guess would be some kind of network issue. Before trying to get this package working maybe try to get LazyStream itself running if possible? If that doesn’t work maybe @tarkah could assist you there.

[2021-02-02 20:13] tlsnine opened #34 "Request - Docker Compose File"
Hoping you can offer a compose file for docker.
Thanks for the hard work!

[2021-02-04 18:43] tarkah commented on #33
@umbynos VLC is really unreliable to use directly for testing the streams, even with proper hosts updates due to how it validates SSL certs. Can you use my program https://github.com/tarkah/lazystream directly, and use the `play` or `record` command? It _should_ work. If it does, then the problem is w/ xteve or Plex. I looked at the logs you posted and couldn't find anything that was helpful.

[2021-02-13 20:52] kinghowdy opened #36 "Unable to add to Plex - EPG issue?"
I believe there's an issue with the output of the EPG xml
I'm unable to add to Plex. It fails with "There was a problem saving your DVR. Please try again"
I added the m3u to telly and it will detect the channels. Adding the EPG causes it to fail.

time="2021-02-13T19:39:43Z" level=info msg="Loading M3U from http://172.18.0.26:34400/m3u/xteve.m3u"
time="2021-02-13T19:39:43Z" level=info msg="Loading

[2021-02-14 16:16] tarkah commented on #36
This is a known bug with xteve and plex

https://github.com/xteve-project/xTeVe-Documentation/blob/master/en/troubleshooting.md#plex-dvr-can-not-be-set-up-or-channels-are-missing

You need to access the xmltv file over file directory from plex, not from the URL

[2021-02-14 19:51] kinghowdy commented on #36
Thanks for the reply. I moved the xteve.xml to a folder accessible from both xteve and Plex containers. I'm still getting the same error but I will attempt some further troubleshooting.

[2021-02-14 20:15] kinghowdy commented on #36
Please mark this issue as closed. After further troubleshooting attempting to add the full EPG with NHL and MLB listings would not load in Plex. I decided to manually cut down the XML file. It loaded in Plex without an issue.

[2021-02-14 20:15] #36 closed

[2021-02-22 21:08] tlsnine opened #37 "FFMPEG Streaming Stopped"
Hi. I'm constantly receiving the following error when trying to view an NHL game:

I've verified my hosts are set correctly (x.x.201.101)
which ffmpeg shows /usr/bin/ffmpeg from within docker
Verified settings within xteve web itself
Pretty sure I have my .env file set correctly as the folders are populating

Same errors thrown regardless of OS (Mac Bigsur, Ubuntu 19.04 & 20.04)

I saw a potential

[2021-03-03 22:49] taylorbourne commented on #37
Hey @tlsnine sorry for the late reply – been busy lately. I always recommend to anyone who has issues with this package to attempt to run LazyStream on its own first and verify that you can watch streams there as you would expect. If you run into any problems open up an issue on the LazyStream repo.

https://github.com/tarkah/lazystream

[2021-03-03 22:49] taylorbourne commented on #34
Hmm.. I can probably put something together for this, though it will likely have to wait until this weekend!

[2021-03-03 22:50] taylorbourne commented on #33
closing this due to inactivity, if you're still having issues please open a new issue!

[2021-03-03 22:50] #33 closed

[2021-03-03 23:01] taylorbourne commented on #32
@nexxai thanks again, added this to the Wiki

[2021-03-03 23:01] #32 closed

[2021-03-03 23:21] umbynos commented on #33
Hey, unfortunately, the issue it's not solved. I just didn't had the time to further investigate.. I'll post news hopefully soon. PS for now thanks for your time

[2021-03-09 20:08] nexxai opened #38 "Question about updating"
We expect that there will probably be a new release of lazystream in the next day or two and so I'm wondering if there's a mechanism within this container to check for the latest release on startup and automatically update to it, or if it's something that has been considered.

[2021-03-10 00:13] umbynos commented on #33
Hi @taylorbourne and @tarkah. I just tried reinstalling the container and reconfiguring it. There seems to be another problem. This is from the logs:
[xteve.log](https://github.com/taylorbourne/xteve_lazystream/files/6112126/xteve.log)

- Is it normal the empty `StreamingURL` at L188?
- I see a lot of `Status: The certificate is NOT trusted. The name in the certificate does not match the expected.

[2021-03-10 00:45] tarkah commented on #33
@umbynos

1. No it is not normal, it should show the URL from the file. I suspect that it's due to your `/playlists/lazystream/lazystream-nhl.m3u` file showing empty entries as you posted.
2. Yes, this is normal and are messages that occur right at the beginning of starting the container.

No idea why your `/playlists/lazystream/lazystream-nhl.m3u` is empty, other than did you check this BEFORE an

[2021-03-10 00:56] tarkah commented on #38
This is a great idea, as I need to push an update for this with the changes we just did.

We currently pull a specific release of lazystream when building the docker image. Theres 2 options here:

1. Have the dockerfile always pull the latest release. There's a couple downsides that come to mind for this.
2. Setup a github action from lazystream to directly commit to this repo and do a simple sed

[2021-03-10 00:59] tarkah commented on #38
I'll look into this tomorrow

[2021-03-10 01:27] nexxai commented on #38
I was actually thinking something more along the lines of how the linuxserver/docker-plex container updates itself: https://github.com/linuxserver/docker-plex/blob/master/root/etc/cont-init.d/60-plex-update

I don't think it needs to be nearly as complicated as that one is, but it basically just checks to see if there's a newer release than what it last saw, and then if so, grab a copy and extract

[2021-03-10 01:35] tarkah commented on #38
Yeah that's a good idea... A runtime check on boot to check for a newer release. Therefore you don't need to pull down a newer image. I'll probably go with this route.

Pulling a new image isn't an issue as long as you're mounting the predefined volumes to somewhere on your filesystem. Then you can just use those same mount points with the new image

[2021-03-10 01:36] nexxai commented on #38
Gotcha, but yeah, a check at runtime is awesome because then even if someone forgets to/doesn't update the image with the latest version number, the container will just go fetch it anyways.

[2021-03-10 09:49] umbynos commented on #33
Yeah, I created again the container while yesterday's matches were streaming, so I have no idea why `/playlists/lazystream/lazystream-nhl.m3u` was empty. When this file is generated? When I recreated the container I removed all the files inside [`$CONFIG_PATH".config/xteve/*`](https://github.com/taylorbourne/xteve_lazystream/issues/33#issue-792684978) except for `/tmp/ xteve` (but I don't think th

[2021-03-11 00:05] umbynos commented on #33
Nothing.. The `StreamingURL` stays empty.. I do not know what else to try..

[2021-03-11 00:08] tarkah commented on #33
Hmm, the docker is all self contained, so you shouldn't have to make any changes locally to your system. It should "just work". Can you please outline the exact steps you are taking to run the docker container from a fresh setup (no local appdata folders for the mounts) and set it up the DVR in Plex? Include any tweaks you're making to xTeVe settings.

[2021-03-11 02:11] taylorbourne commented on #38
This is an awesome idea! Though for the record I check pretty frequently for LazyStream updates. Since my current set up “just works” I rarely need changes, but I’m always excited to keep that up to date.

[2021-03-14 01:24] umbynos commented on #33
I just tried again.. If I use `xteve_lazystream` on another machine everything runs fine.. If I run in the same machine where plex is running I have the same problem described above.. Could be related to some strange network configuration?

I followed [this guide](https://github.com/taylorbourne/xteve_lazystream/wiki/Scripts#ubuntu--setup-docker-xteve_lazystream-and-plex) without changing anything

[2021-03-19 04:02] shaksiwnl opened #41 "MLB streams not working"
Logs for when I click on an MLB stream:

2021/03/18 20:54:25 [xTeVe] Streaming Status: Playlist: mlb - Tuner: 1 / 4
2021/03/18 20:54:25 [xTeVe] FFMPEG path: /usr/bin/ffmpeg
2021/03/18 20:54:25 [xTeVe] Streaming URL:
2021/03/18 20:54:25 [xTeVe] FFMPEG: Processing data
2021/03/18 20:54:25 [xTeVe] Streaming Status: Receive data from FFMPEG
2021/03/18 20:54:25 [xTeVe] FFMPEG log: : No such file or dir

[2021-03-19 05:27] taylorbourne commented on #41
Should work fine without any changes! Do MLB streams work with the core app? I don't use those streams myself, I really only watch one hockey team – we just figured we may as welL support it all.

[2021-03-19 05:35] taylorbourne commented on #41
Just saw this issue on laszystream as well

https://github.com/tarkah/lazystream/issues/71

I'm guessing MLB isn't working at all through LazyMan.

[2021-03-19 05:36] taylorbourne commented on #37
Going to close this due to inactivity, but let me know if you need more help. Like I said, get lazystream working first. If that isn't working, the streams won't run in Plex either.

[2021-03-19 05:36] #37 closed

[2021-03-19 21:14] shaksiwnl commented on #41
Thanks for the response! I'll post on the subreddit about it. Thanks :)

[2021-03-20 04:45] jwmoss opened #42 "Remote Playlist and XMLTV not persisting upon restart"
Hi all! I switched to this docker container after using [alturismo's docker container](https://github.com/alturismo/xteve_guide2go) for xTeVe and Guide2Go.

One big difference I noticed (besides the awesome integration with lazystream!) is that whenever I login to the UI within this version + create a new remote playlist + run guide2go to generate xmldv file, +  reboot the container, it does not p

[2021-03-20 04:48] taylorbourne commented on #42
Hey! So it sounds like maybe you're Docker volume isn't mounting correctly? Can you share how you're firing your container up?

[2021-03-20 04:49] taylorbourne commented on #41
Sounds good! I think I saw something about MLB on the subreddit as well. If you still have problems after LM is up and running at 100% feel free to open another issue. 👍

[2021-03-20 04:49] #41 closed

[2021-03-20 14:57] jwmoss commented on #42
Thanks for the quick reply. Upon a second look, I had kept existing unRAID mounts and it appears had some issues re-creating the container and persisting in the folders that I had mapped , which is to say, I'm all set after re-creating from scratch!

[2021-03-20 14:57] #42 closed

[2021-03-25 11:16] umbynos commented on #33
I think I solved the issue.. The problem had something to do with the `--net=host`
Thanks a lot for the help guys

[2021-03-30 22:39] MaDTaZ opened #43 "Error when Starting Docker Image"
Hello All
Just starting seeing this message time I start and stop the image
xteve_lazystream_1  | 2021/03/30 15:35:08 [xTeVe] Version:               2.1.2 Build: 0121
xteve_lazystream_1  | 2021/03/30 15:35:08 [xTeVe] Database Version:      2.1.0
xteve_lazystream_1  | 2021/03/30 15:35:08 [xTeVe] GitHub:                https://github.com/xteve-project
xteve_lazystream_1  | 2021/03/30 15:35:08 [xTeVe

[2021-04-02 22:58] fkick commented on #43
I'm also see the 2021-04-02 15:50:54 [xTeVe] [ERROR] open /usr/bin/xteve: permission denied (Update failed) - EC: 6002 and plex no longer appears to be updating the DVR guides

[2021-04-02 23:04] MaDTaZ commented on #43
Mine still is working it is just when I restart my docker that mine happens. Normally when It is not updating the guide you have to add the connection back into plex and that kind of kick starts it.

[2021-04-03 01:35] fkick commented on #43
Thanks @MaDTaZ . I ended up having to blow away the docker and re-add from the template. Still seeing the Error in the log, but I've got the guide back.

[2021-04-03 06:48] taylorbourne commented on #43
Hm, this is a new one! I'm on vacation until Monday but I'll do my best to get some time on my laptop to see if I can at least reproduce this.

[2021-04-03 16:06] MaDTaZ commented on #43
No big deal for me it is working so no rush enjoy your vacation.

[2021-04-06 17:30] tarkah commented on #43
This happened to me as well. I logged into the xTeVe frontend settings and disabled auto updates, then restarted the container. This at least fixed it for now.

We will need to fix the permissions issues to allow xteve to auto update

[2021-04-06 17:32] MaDTaZ commented on #43
Yes I thought of that after the fact and did that as well

[2021-04-06 18:04] schwyl opened #45 "How to update just lazystream in the Docker"
So lazystream in the docker is 4 revs behind now.

How can I just update it?

[2021-04-06 18:13] tarkah commented on #45
The `latest` tag of the docker correctly pulls in the latest `1.11.4` release. Delete your container, update the image `latest` tag, and rebuild the container.

Make sure you volumes are mapped to your local filesystem so when you recreate the container, none of your changes (if any) get lost.

[2021-04-06 18:16] tarkah commented on #45
This is where a docker-compose set up might be easier to manage things. See https://github.com/taylorbourne/xteve_lazystream/pull/44 for a start on that.

With docker compose, you can do `docker-compose down --rmi all` to remove the docker image. Then `docker-compose up -d` to recreate the container with a fresh image (it'll downloaded the latest).

[2021-04-06 18:18] tarkah commented on #45
We may eventually add some logic to automatically update `lazystream` to the latest version at runtime, see suggestion here #38.

Once that's implemented, all you'd need to do is restart the container and it'd always make sure `lazystream` is up to date.

[2021-04-06 18:22] schwyl commented on #45
Ah ok for some reason I thought i saw the docker image hadn't been updated for awhile

[2021-04-13 01:51] MaDTaZ commented on #43
Is there way to get his in docker or do we have to wait till it is released?

[2021-04-13 02:02] taylorbourne commented on #43
Got busy and lost track of this after my vacation :D I'll cut a new release tonight!

[2021-04-13 02:04] MaDTaZ commented on #43
LOL No problem it happens!!  Hope the Vacation was a goo done

[2021-04-19 18:17] MaDTaZ commented on #43
I am guessing you forgot again ? lol

[2021-04-19 18:29] tarkah commented on #43
@MaDTaZ I'll go ahead and merge the outstanding PRs

[2021-04-19 18:30] #38 closed

[2021-04-22 19:50] taylorbourne commented on #43
@tarkah @MaDTaZ haha no I didn't forget.. well I didn't, then I did. that night I said I was going to cut a release I got an insane case of food poisoning, then got busy with work. Looking into everything outstanding right now so expect a new release shortly.

[2021-04-22 20:11] taylorbourne commented on #23
@tarkah going to get this in before cutting the next release 👍

[2021-04-22 20:26] MaDTaZ commented on #43
It is all I new it was either Real Life or something was wrong.  Hope all went well and you have recovered

[2021-04-22 22:29] tarkah commented on #23
@taylorbourne awesome!

[2021-04-22 22:47] taylorbourne commented on #23
Looks like this is working! Right now it's setup to go up to DockerHub when I publish releases – I'll revisit that to see if it needs anything extra as we go.

https://hub.docker.com/r/taylorbourne/xteve_lazystream/tags?page=1&ordering=last_updated

Going to close this out!

[2021-04-22 22:47] #23 closed

[2021-04-22 22:49] taylorbourne commented on #45
@schwyl we are now checking for the latest version of LazyStream at runtime see #47 – this is in version `1.2.0`.. enjoy and let us know if you run into any issues!

[2021-04-22 22:49] #45 closed

[2021-04-23 02:09] MaDTaZ commented on #43
After pulling the new image everything updated properly. Good Work All

[2021-06-03 23:50] WhompingWhale opened #55 "Stream URL Empty"
Log when I click a stream, MLB or NHL, shows streaming URL empty.

[code]

Using lazystream version 1.11.6 to fix issue with the MLB API. Was working for a couple days but seems to have stopped now. Using lazystream to search for game URL in console works fine.

[2021-07-14 00:34] nexxai opened #56 "No streams"
Not even sure if this is a problem but after restarting the container, it's throwing the rust error below and just wondering if that's something that should be looked at.

[code]

[2021-07-16 23:52] #56 closed

[2021-07-23 01:01] taylorbourne commented on #55
Could this be related? https://github.com/tarkah/lazystream/issues/71

[2021-08-21 04:14] taylorbourne commented on #55
gonna close this – let me know if it needs re-opening

[2021-08-21 04:14] #55 closed

[2021-09-27 00:03] MaDTaZ opened #59 "Error running cronjob"
It did run this morning and has games from yesterday so not sure what is up. Seem to be only the nhl mlb is working fine.

2021/09/26 16:57:44 [cronjob.sh] Creating .m3u & .xml for XMLTV...
thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/stream.rs:305:14
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2021-09-27 00:05] tarkah commented on #59
I just pushed out a fix for this error in `lazystream`.

If you restart your container, it should pull that latest release and work.

[2021-09-27 00:41] MaDTaZ commented on #59
restarted my container but still getting that message.  How can I tell if it pulls every thing properly?

[2021-09-27 00:45] tarkah commented on #59
You should be able to see some log lines related to it with `docker log`

When's the last time you updated the docker image? The check for updated lazy stream was only added a few tags back.

[2021-09-27 00:49] MaDTaZ commented on #59
It says that I am running the latest version look to be 1.20. have my setting to this 'taylorbourne/xteve_lazystream:latest

[2021-09-27 00:58] tarkah commented on #59
Here's my docker logs, it appears to have updated successfully and run. You can see it logs the errors, but the files still get written to in the latest version:

[code]

[2021-09-27 01:19] MaDTaZ commented on #59
Ya it is saying I have installed version: v1.11.6

[2021-09-27 01:21] tarkah commented on #59
Hmm, should be updating to 1.11.7. You can manually edit the Dockerfile in this repo to have it download 1.11.7 and rebuild the image manually.

[2021-09-27 01:26] MaDTaZ commented on #59
I still leaning docker so not sure how to do that.

[2021-09-27 01:30] fkick commented on #59
Just restarted my own docker and am getting errors on the update to 1.11.7:

[code]

[2021-09-27 01:46] MaDTaZ commented on #59
I finally got mine updated I just went back to 1.14 and then went to latest again and every thing is fixed on my end I am closing the ticket

Thanks @tarkah

[2021-09-27 01:46] #59 closed

[2021-10-08 02:33] goldenpipes opened #60 "not sure if lazystream is updating."
noticed NHL guide was constantly blank.  checking the logs, it seems i was getting the error https://github.com/tarkah/lazystream/issues/80

so i tried to update the lazystream version by restarting my container, it says it does update, but it seem to fix the error mentioned in #80 from lazystreams github.
[code]

ive tried rebuilding the container a few times nothing seems to work.

[2021-10-08 03:27] tarkah commented on #60
Hmm, doesn't seem like it can download the latest version from GitHub.

If you're comfortable enough, you can modify the Dockerfile, there's a line in it that fetches lazystream. You can have it download the latest version and rebuild the image and use that.

[2021-10-27 23:28] MaDTaZ opened #62 "Filter Games"
Hey is there a way for me to filter out the French and just have home and away?.  I was also wondering if there is a way of just having the games show and not all 100 channels I use emby and I want them at the top but then if I want to watch any other channels I have to scroll all 100 channels

[2021-10-28 19:51] echefel opened #63 "Have to 'Refresh Guide' Everyday on Plex"
Hi guys -
It seems that every single day plex shows "the guide is empty please verify your channel mappings and refresh the guide" and I have to manually refresh the guide around the time of game starts in order for it to populate. IF i refresh guide way early in the day, it just shows the guide is empty.

Why is that? Is there an option im missing?

[2021-10-30 01:34] chesh1r3k commented on #63
I just think getting that URL is just missing some steps, as I just set this up today. After going to your Live TV section and pressing F12 to bring up developer tools in Chrome, I had to click on the > icon at the top and then select Network. After that, I set the filter for reloadGuide? and then followed the rest of the instructions.

[2021-10-30 17:46] tarkah opened #64 "Update dockerhub image"
@taylorbourne Can you publish a new release and update docker hub image? I just released [v1.11.8](https://github.com/tarkah/lazystream/releases/tag/v1.11.8) which includes the critical host name fix for resolving streams.

[2021-10-30 18:14] MaDTaZ commented on #64
It also added --trim thank you very very much will test that out

[2021-10-30 18:15] #62 closed

[2021-10-30 18:20] #64 closed

[2021-10-30 18:58] MaDTaZ opened #65 "Pull New Version."
I get this message when trying to upgrade to 1.11.8. If I do a version check it stays on 1.11.6
[update-lazystream] checking for update
xteve_lazystream_1  | [update-lazystream] installed version: v1.11.6
xteve_lazystream_1  | [update-lazystream] remote version: v1.11.8
xteve_lazystream_1  | [update-lazystream] newer version available, downloading...
xteve_lazystream_1  | Connecting to github.com

[2021-10-30 19:52] MaDTaZ commented on #65
Fixed by just running this in the docker terminal!!

wget https://github.com/tarkah/lazystream/releases/download/v1.11.8/lazystre
am-v1.11.8-x86_64-unknown-linux-musl.tar.gz -O lazystream.tar.gz

[2021-10-30 19:52] #65 closed

[2021-10-30 21:15] Riles554 opened #66 "NHL not working through Plex"
I am getting a playback error "Could not tune channel. Please check your tuner or antenna." in Plex. Previously I had this error when the host file wasn't set correctly on my machine, but I am getting the same IP for the new hostname server and the hosts file appears to be working when I ping any of the three hostnames associated with the IP.

When attempting to use FFMpeg as streaming buffer I re

[2021-10-30 23:51] chippoman opened #67 "Error updating lazystream to 1.11.8"
I was having issues today with the .m3u being blank (no URLs). After investigating, it might be due to lazystream's update to 1.11.8 and this docker's update-lazystream.sh having issues downloading it from github:

[update-lazystream] checking for update
[update-lazystream] installed version: v1.11.6

[update-lazystream] remote version: v1.11.8

[update-lazystream] newer version available, downloa

[2021-10-31 00:02] tarkah commented on #67
We've updated the docker image, so just update that instead and you should be good to go!

[2021-10-31 00:15] chippoman commented on #67
All good. Issue on my end actually. My env didn't have $lazyStreamReleaseName set which resulted in the 404 when grabbing the latest release from github.

[2021-10-31 00:15] #67 closed

[2021-10-31 03:34] taylorbourne commented on #64
On it!

[2021-10-31 03:34] taylorbourne commented on #64
Oh, you made it happen.. thanks @tarkah !

[2021-10-31 04:02] taylorbourne commented on #66
Assuming you've got the latest version of lazystream – try changing your buffer size to 1MB in the xTeVe settings.

[2021-10-31 19:49] taylorbourne opened #69 "Migrate to GitHub actions for builds.."
Unfortunately, Dockerhub no longer allows auto builds on their free tier. Looks like I'll have to create some GitHub actions to build and push new releases.

sad face.

[2021-10-31 20:25] taylorbourne commented on #69
need to watch hockey so I paid for a month and rebuilt the `latest` tag, enjoy!

[2021-10-31 21:25] chanrwm commented on #63
So I put in my URL with those instructions and plexUpdateURL w/ the values from the developer tool console and it doesn't seem to work still with no updates to Plex. Looking at the cronjob.sh I tried to manually push the URL I copied via curl like in the script and I'm getting HTTP 401 Unauthorized. Logs don't seem to show anything either. Is there some kind of Plex Token change I need to do?

[2021-10-31 21:26] taylorbourne commented on #63
Yeah it's not working properly for some reason, I'm taking a look

[2021-10-31 22:00] echefel commented on #63
Just FYI to everyone
Changing the settings within PLEX to auto refresh does the trick.

Just click on Live TV and DVR, then the 3 dots, settings. then on the right click DVR setting

![dxru25sveaw71](https://user-images.githubusercontent.com/87033032/139602577-d354b8e4-4d3e-4fdf-bcd3-71bed06007b6.jpg)
gs

[2021-11-01 04:04] chanrwm commented on #63
I had trouble with auto refresh not working. I noticed the XMLs would usually update with games around noon and set Plex to update between 2-3PM but it never picked up the new Lazystream EPG over the last three days.

My setup also has an HDHomerun so not sure if that has anything to do with it and that always updated fine.

[2021-11-01 04:33] chesh1r3k commented on #63
@chanrwm How are you using a HDhomerun and Xteve? Custom XML guide data instead of the built in EPG?

[2021-11-01 04:42] taylorbourne commented on #63
@echefel thanks for the tip there – but we should still be able to hit Plex to tell it to update at will instead of trying to trigger at the right time. I'll let you know when I come up with something.. seems like mine works _sometimes_ so just trying to see if I can find the culprit.

@chesh1r3k you can add multiple sources into Plex 👍

[2021-11-01 05:06] chesh1r3k commented on #63
@taylorbourne Oh, I know you can have multiple tuners, just not different types of guides, the last time I checked.  I'm running a second Plex server so that I can have Xteve w. an XML TV guide and HDHomeruns w/ EPG on the main. Didn't know if Plex finally fixed this. Might be time to find an XMLTV source for my HDHomeruns.

[2021-11-01 12:36] chanrwm commented on #63
@chesh1r3k You have to grab EPG via zap2it (free) for the stations that you have feeds for. Sign up for an account there then add your IP/HDHomeRun sources in the XTeve playlist section. Set up a cron job to pull the Zap2It lineups and then import them to XTeVe in the XMLTV section, then change your mappings and build your map using the Zap2it data. I do not use Plex's EPG since I want to remap my

[2021-11-01 17:49] taylorbourne commented on #63
@chanrwm @chesh1r3k

Ohh sorry, I made some incorrect assumptions! Keep in mind, this bundle comes with guide2go that works with schedules direct. I should note, SD is like $3/mo or $25/yr.

I'm working on updating the plex update url to use a curl request. I think we're missing some headers that allow the call to work properly.

[2021-11-01 21:51] #63 closed

[2021-11-01 21:52] taylorbourne commented on #69
going to leave this issue open to remind myself to eventually migrate

[2021-11-01 22:22] chanrwm commented on #63
@taylorbourne yea I was using SD before I realized Zap2It provides the same thing for free and it was supported in some xTeVe so I used that instead.

[2021-11-01 22:27] chippoman commented on #66
Does it play for a few minutes and then quit? Try changing buffer size to 1MB in xTeVe and transcoder buffer to 10000 seconds in Plex: https://forums.plex.tv/t/xteve-plex-this-live-tv-session-has-ended/752647/15

[2021-11-02 17:38] taylorbourne commented on #66
@chippoman adjusting the buffer to 1MB fixed this problem for me last week, thanks for posting the link with the extra information there maybe I'll add this to my setup as well. 👍

[2021-11-02 18:07] taylorbourne commented on #66
@chippoman @Riles554 so I took a look at the fix there – I would recommend changing the xTeVe buffer to 1MB and testing that out first before changing the Plex transcoder buffer. You might see some adverse performance (or if your short on space storage issues) issues once you go down that route.

Nice to see everyone chipping in to help out, these setups can be super frustrating.

[2021-11-02 19:31] Riles554 commented on #66
@taylorbourne @chippoman thanks for both of your help! This is a fantastic piece of software.

I was able to get it back running, it seems like lazystream was not cooperating even though I had installed the latest release. After a full uninstall and reinstall everything seems to be smooth again. I changed to the 1MB buffer and all seems to be smooth as butter.

Running all of this off a VPS with 1

[2021-11-03 02:32] goldenpipes commented on #66
i've done everything listed above and im getting the same error.

```2021/11/02 21:30:22 [xTeVe] [ERROR] FFMPEG error (Streaming was stopped by third party transcoder (FFmpeg / VLC)) - EC: 1204```

even tried a fresh VM with a fresh docker install and i get the same issue.

[2021-11-03 04:29] chesh1r3k commented on #66
All streams are having an issue today. It may all be shutdown. Everyone is waiting for developers to see if this is the end.

[2021-11-03 04:40] xWulfie opened #71 "Cannot stream using DockerHub image + Emby"
Greetings!
I have been using and loving your addon for Plex/Emby. I know things have been pretty interesting in this space recently, but even after StevensNJD ceased his project, yours was still working for me as of Sun/Mon. Tuesday evening it would not work for me even after installing the newest update from DockerHub.

I use the Dockerhub version because I use Unraid and it is the simplest thing

[2021-11-03 04:51] chesh1r3k commented on #71
All streams are having issues tonight. See the issue at the bottom of the issues list for this project. Something may have changed, or it may all be down for good. The developers are looking into it.

[2021-11-03 04:56] xWulfie commented on #71
I'm definitely aware of the 'stuff' that is going on. However, I know there are other 'hosts' that can be used. Unless they are all coming down as well.

[2021-11-03 05:00] chesh1r3k commented on #71
The "mouse" is involved now with the lawsuit. Don't be surprised if it all comes down. You can apparently ping freegames.ddns.net and update your hosts file, but who knows if this will be a consistent fix. I'm waiting for updates like everyone else while watching 3 different projects to see what the fix will be.

[2021-11-04 00:14] taylorbourne commented on #71
@xWulfie @chesh1r3k latest version I just published `1.4` makes the host configurable – if you update make sure you have the `lazyStreamHost` environment variable set

[2021-11-04 00:14] taylorbourne commented on #71
resolved by #72

[2021-11-04 00:14] taylorbourne commented on #71
2

[2021-11-04 00:14] #71 closed

[2021-11-04 00:16] taylorbourne commented on #66
Anyone subbed to this thread – latest realize makes the host configurable.. so just make sure to set the `lazyStreamHost` environment variable as you see fit.

While we resolved the initial problems by altering the xTeVe config, the latter issues are resolved by #72

[2021-11-04 00:16] #66 closed

[2021-11-04 00:18] chesh1r3k commented on #71
Where do you get the new host from for the variable?

[2021-11-06 03:12] Toylerrr opened #73 "Cant seem to get a stream out of lazystream"
![image](https://user-images.githubusercontent.com/4400902/140596072-b5ed836f-25ab-4558-8ad3-a167e204bbc3.png)
I cant seem to get anything to stream to jellyfin
Im using freesports.ddns for the host

[2021-11-06 07:34] xWulfie commented on #71
I'm also a bit confused on how to set the new host. Since I am using a docker container via Unraid, would my setup be different? I have tried looking for the .env file but could not find it to edit.

[2021-11-06 15:43] chanrwm commented on #73
Yea same issue after changing to 1.4 and the streamhost change. Some kind of decryption issue with that key file failure? I did try VLC and xTeVe instead of FFMPEG and that didn't help either.

[2021-11-06 18:06] taylorbourne commented on #71
Just go to the docker page and right click the icon for this container and click edit. I think at the bottom of the screen there's a button you can use to add new variables.

When the window pops up make sure you change the config type drop down to variable. The key should be `lazyStreamHost` and the value should be your updated host name. Please check Reddit for the host name `r/nhl_games` is a g

[2021-11-06 18:07] taylorbourne commented on #73
I can take a look this weekend but everything appears to be working on my end.

When you set the variable did you restart your container?

[2021-11-06 20:00] strenkml commented on #73
I had the same issue when I had the stream buffer set to FFmpeg.  When I switched it to xTeVe I stopped getting errors in the xTeVe log.

I am testing the stream in VLC with the link: "http://192.168.1.4:34400/m3u/xteve.m3u".

[code]

I see the stream time increasing on VLC but nothing is played.  If I take the .m3u8 link from the log and try to play it directly, I dont get any playback.

[2021-11-06 21:38] Toylerrr commented on #73
Got it fixed on my end it seems like its not wanting to set hosts via the cron job.

I fixed this by pinging freesports.ddns.net and getting the IP and adding this to the docker command/extra params:
--add-host=mf.svc.nhl.com:IP ADDRESS
--add-host=mlb-ws-mf.media.mlb.com:IP ADDRESS
--add-host=playback.svcs.mlb.com:IP ADDRESS

[2021-11-07 00:08] SirRob24 commented on #73
Sorry for being newb, but I am using Docker Desktop with Windows 10 so I'm not sure how/where to add these lines.

I have the issue where when I try to play a stream on Plex it fails to load and I get the "2021/11/06 16:46:32 [xTeVe] [ERROR] FFMPEG error (Streaming was stopped by third party transcoder (FFmpeg / VLC)) - EC: 1204"

[2021-11-07 00:26] Toylerrr commented on #73
[code]

Make sure to change the args to fit your file system.

[2021-11-07 01:24] chanrwm commented on #73
No dice after adding the host for me even after restarting the docker, still get that key error. I just added the one NHL host tho since I only have those channels mapped.

[2021-11-07 05:07] taylorbourne commented on #73
Can you guys post some more logs? Specifically want to see when the container starts up and the hosts are set. It's possible I've garbled that line of shell but like I said, I had no problems on Thursday night running `1.4`.

[2021-11-07 05:20] chanrwm commented on #73
`[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing container initialization scripts...
[cont-init.d] 10-adduser: executing..

[2021-11-07 20:08] taylorbourne commented on #73
Thank you!!

Going to try to take a look before tonight's games. In the event that I don't get to it, keep in mind you guys can downgrade to 1.3 at any time to use "that" host.

[2021-11-08 23:43] strenkml commented on #73
I don't see a tag for 1.3 on Docker Hub, just 1.4 and 1.2.

Also the hosts fix from above did not fix my issue.

[2021-11-10 20:41] taylorbourne commented on #73
@strenkml et al – please try the latest release (building now should be available in about 5 minutes as `1.5.0`)

[2021-11-11 00:47] strenkml commented on #73
The new build worked!  Thanks!

[2021-11-30 02:22] strenkml opened #76 "Channels won't stay enabled on Plex"
If I add the tuner to Plex the sports channels show in the guide.  But when I check back later the channels are disabled.  I can add them back but I have to manual match the channel to the channel from the guide.  It is much easier to just remove the tuner and re-add it.

[2021-11-30 02:25] tarkah commented on #76
Which version of the docker image are you using?

Make sure to have the latest image, and ensure in your .env file, you have `trim_xmltv=no`

[2021-11-30 07:20] taylorbourne commented on #76
Possibly related to the refresh process being wonky – I'll cut a release tomorrow.

Though would be interested in what version you're running. Are you seeing "unknown airing" in your guide before you go to remap?

[2021-11-30 20:08] taylorbourne commented on #73
Closing this – seems to be fixed with new builds

[2021-11-30 20:08] #73 closed

[2021-11-30 21:56] taylorbourne commented on #76
@strenkml Please try `1.5.1`

[2021-12-02 01:01] chesh1r3k commented on #76
So, this is weird, nothing changed except updated to 1.5.1.  Plex is now updating the guide fine, but now Jellyfin is loading all the channels, but there's no guide information on them. Can't even tune them.
![Screenshot_20211201-180028](https://user-images.githubusercontent.com/26318809/144338691-3e74fd99-e3ba-4546-baf8-405dde917c61.png)
Jellyfin hasn't had a new update for 2mo. Tried restarting

[2021-12-02 03:38] taylorbourne commented on #76
@chesh1r3k thanks for posting.. man this update thing is annoying. Try restarting the container, then refresh in plex. Someday we’ll get this working without user input…

[2021-12-02 03:48] chesh1r3k commented on #76
The latest thing I notice is that the container takes about 6min to finish starting up. It gets to here, right after starting and then hands for 4-5mins before moving on:

`2021/12/01 18:06:05 [cronjob.sh] Playlist saved to: "/playlists/lazystream/lazystream-nhl.m3u"
2021/12/01 18:06:05 [cronjob.sh] Xmltv file saved to: "/playlists/lazystream/lazystream-nhl.xml"
+ set +x
2021/12/01 18:06:05 [cronj

[2021-12-02 05:53] strenkml commented on #76
Sorry. Its been a busy couple of days.  I just downloaded it and will let you know if I have the same issue.

[2021-12-02 05:55] strenkml commented on #76
I already have that set to no.

[2021-12-02 19:06] goldenpipes commented on #76
where do i set that? im using unraid do i just add a new variable named trim_xmltv ? with a value of no?

maybe im having a different issue today, lazystream is saying there are no streams today.

[2021-12-03 00:56] taylorbourne commented on #76
I keep getting no games as well – my solutions is to restart the container, restart Plex, and refresh guide. I really want to get this figured out so all the info you guys post helps.

The hang described above is to be expected, there's an intentional 30 second sleep after we update xTeVe to give it a chance to do its thing. Something else seems to be breaking with the games though?

🤨

[2021-12-03 01:03] chesh1r3k commented on #76
Mine was showing no games as well in both Jellyfin and Plex when I went to watch the Avs tonight. Restarted the container and refreshed my guides and all was good. Set a cron job to restart xteve_lazystream every day at 6am. I'll look and see if I have a populated guide tomorrow, or if it loses the schedule before games come on in the afternoon.

[2021-12-03 01:07] chesh1r3k commented on #76
Yes, create a variable in the container called trim_xmltv and set it's value to no. That's how you create all the environment variables for this container in unRAID. You can look at the sample.env file for all of the variables that are available.

[2021-12-03 04:32] strenkml commented on #76
1.5.1 has the same issue.  I tried restarting the container and then manually refreshing the guide, but the channels are just disabled in Plex.
![Screenshot 2021-12-02 232921](https://user-images.githubusercontent.com/25540117/144545378-f4e2d7e4-5490-4212-9a5d-c371d997a2c1.png)

The 10 enabled channels are from dizquetv.

Let me know if you want any other information.

[2021-12-03 20:03] taylorbourne commented on #76
@strenkml how are you adding the guide data to Plex? Are you using the URL from xTeVe or a direct path to the xml file? If you're using the former I would try the latter.

I haven't seen this happen yet so not too sure. Maybe post up some logs from xTeVe so we can see if there are any clues there?

[2021-12-03 20:08] tarkah commented on #76
Definitely this. I haven't had guide issues, but I mount the `.xteve` folder to my Plex container and point to the xml file directly. See the issue specifically here: https://github.com/xteve-project/xTeVe-Documentation/blob/master/en/troubleshooting.md#plex-dvr-can-not-be-set-up-or-channels-are-missing

[2021-12-03 22:19] strenkml commented on #76
Yeah I was using the URL. I just switched it to the file path.
Hopefully that fixes it

[2021-12-04 03:18] strenkml commented on #76
Nope the channels disabled themselves again.  The interesting thing is that the dizquetv channels are also being supplied by xteve but for some reason they dont get disabled.

[2021-12-04 21:16] strenkml commented on #76
I just found this issue for Dizquetv: https://github.com/vexorian/dizquetv/issues/396

I'm going to guess this is my issue. I'm going to try removing the dizquetv channels and see if that fixes it.

[2021-12-05 01:15] taylorbourne commented on #76
Very nice, if I get some time tonight I'll close this issue out and open a new one for the issue that's causing us to have to restart the container for games to load.

[2021-12-05 23:54] strenkml commented on #76
Yep that fixed it

[2021-12-05 23:54] #76 closed

[2021-12-09 21:48] goldenpipes commented on #76
im still having to restart the container everyday.  i seen there was an update so ill check it again tomorrow.

[2021-12-11 23:28] taylorbourne commented on #76
@goldenpipes yep, please try the latest release.. I'm happy to report that today (first day with latest changes from master) I did not have to do any jumping through hoops. Tonight's schedule has loaded without any issues, and my guide as a whole is looking good.

[2021-12-12 18:29] MaDTaZ opened #78 "[ERROR] unexpected end of JSON input () - EC: 0"
After installing 1.5.2 I am getting this error right after it doing this function.

| crond[393]: crond (busybox 1.34.1) started, log level 8
nhl_games_1  | [services.d] done.
nhl_games_1  | 2021/12/12 10:28:13 [xTeVe] [ERROR] unexpected end of JSON input () - EC: 0

I put back 1.5.1 and if works just fine. I am now seeing it with 1.5.1 as well

[2021-12-12 18:48] taylorbourne commented on #78
What’s in your `settings.json` in your xTeVe directory? Searching the xTeVe discord with your error returned quite a few results.

[2021-12-12 19:01] taylorbourne commented on #78
Ok I searched around their Discord for you a bit more because I'm just sitting here watching TV – I'm guessing you'll find that `settings.json` is empty and has been corrupted. You can delete it and I believe xTeVe will generate a new one.

Though I would try to restore from a backup if possible, that way you don't have to start from scratch if you have a bunch of changes.

A last resort idea migh

[2021-12-12 20:30] MaDTaZ commented on #78
Thanks

I just removed the whole .xteve folder and then it recreated which worked.

[2021-12-12 20:30] #78 closed

[2021-12-12 21:36] taylorbourne commented on #78
No worries! Appreciate you opening an issue, always good to track this stuff. Unfortunately this looks to be something wonky xTeVe does under the hood (occasionally? on certain setups? under certain conditions? lol) so it's unlikely it'll be fixed any time soon.

I've made note of it though and will add it to my list of issues for my fork of xTeVe. Trying to fix some common issues, bake some of ou

[2021-12-12 23:59] MaDTaZ commented on #78
Sounds good looking forward in check it out alway like testing out stuff.

[2021-12-15 01:48] nexxai opened #79 "ERROR: Unable to open key file"
Snipped out the sensitive bits but it's failing to get the key.  Not sure if this is a me problem or a service problem.  Tried restarting the container but no dice.  Can anyone confirm?

[code]

[2021-12-15 19:04] taylorbourne commented on #79
We're you just trying to play a live stream here? We're things working and suddenly stopped? I'll take a look at the logs tonight when I fire up the Ducks game.

[2021-12-15 19:57] taylorbourne commented on #79
Is your container network setup as host or bridge? Oh yeah, wanted to clarify – was this working for you before?

[2021-12-15 20:07] nexxai commented on #79
It's using bridge and it *was* working for me before, but I can't say how long ago.  I haven't tried it in about a month or so but I hadn't changed anything since the last time it worked (other than restarting the container, etc. to try and fix it).

[2021-12-16 03:38] chesh1r3k commented on #79
Are you on the newest version of the container? It sounds like your hosts file isn't getting set correctly and that's why it isn't able to grab the key for the feed. I'm watching Kraken v Sucks right now without an issue and briefly tuned into the Caps v Blackhawks earlier without an issue. When you first start the container, what version of the Lazystream script does it say you're on?

[2021-12-16 03:53] nexxai commented on #79
[code]

[2021-12-16 03:58] nexxai commented on #79
So I completely removed the container and the image and rebuilt it.  It's working now.  Guess I should have just tried that from the beginning.

[2021-12-16 03:58] #79 closed

[2022-01-10 18:13] JoshNotWright opened #80 "Feature Request: Make default channel number configurable"
MLB starts at 2000 forcing it's channels to the end of the guide in my setup each time, but NHL starts at 1000. Because of this, if I want to add a new dizquetv channel, I have to remap xteve otherwise it will be added after all the NHL channels.

[2022-01-10 22:05] taylorbourne commented on #80
This issue would make more sense over in the LazyStream repo, as LS is responsible for generating the m3u and xmltv guide data.

https://github.com/tarkah/lazystream

[2022-01-10 22:26] tarkah commented on #80
This is already an option in Lazystream!

`--start-channel <number>` can be passed to change the starting channel number (defaults to 1000).

[2022-01-11 04:42] taylorbourne commented on #80
@tarkah ah duh, I knew that lmao.. thanks! Sorry little scatter brained, my daughter was born 12/29 and everything is a blur since.

[2022-01-11 04:49] tarkah commented on #80
No worries, I often forget what capabilities it has at this point as well :P

Congratulations!! Hope you're getting lots of relaxation time in with her.

[2022-01-12 21:58] neo-neo1 opened #82 "Feat Request: Support ARM"
This container not supporting ARM is extremely limiting. All SBCs (Rasp Pi, ODROID, etc..) are automatically canceled out. Please make this a multi-arch and support ARM . Please include support ARMV7 (32 bit) and ARMV7 (64 bit) for universal compatibility.

Thanks in advance.

[2022-01-12 23:55] taylorbourne commented on #82
I might be extra tired today, but I don't really think the tone of this feature request matches the environment I would like to see in an open source repository.

I've yet to have anyone open an issue requesting that we add this support so I'm not sure how limiting we're being here. The spirit of open source lies in your ability to fork the repo and make changes that suit your personal needs. From

[2022-01-12 23:59] netty0 commented on #82
It's difficult to sense a tone in writing so I purposely used "please" 2 times and ended with a "thanks. You seem to be reading too much into it.

[2022-01-13 00:00] neo-neo1 commented on #82
It's difficult to sense a tone in writing so I purposely used "please" 2 times and ended with a "thanks. You seem to be reading too much into it.

[2022-01-13 00:13] taylorbourne commented on #82
I did see the pleases and thank yous, but in my interpretation they lost some of their shine after that first sentence.

Fair enough though, happy to admit that I was wrong! I will say though I haven't had this request yet. I'll have to look into what the best way is to continue supporting multiple architectures. We did add arch64 support here https://github.com/taylorbourne/xteve_lazystream/pull/

[2022-01-13 00:16] chapperino commented on #82
I've also been watching this repo seeing if armhf support would be added to throw on my rasp p :-)

-C.A.

[2022-01-13 00:19] MaDTaZ commented on #80
Hey I was just wonder how I get this to stick everytime it update I have to put it back?

 nhl_args+=("--exclude-feeds" "COMPOSITE" "FRENCH")
                nhl_args+=("--channel-prefix")
                nhl_args+=("--trim")
                nhl_args+=("Lazystream: NHL")
                nhl_args+=("--start-channel")
                nhl_args+=("1")

[2022-01-13 00:28] tarkah commented on #80
@MaDTaZ We've merged #81 so you can configure this in the .env file.  See the updated https://github.com/taylorbourne/xteve_lazystream/blob/master/sample.env which includes these new variables.

Yes, use a `.env` file in the same folder as your `docker-compose.yml` and it should work.

[2022-01-13 00:28] #80 closed

[2022-01-13 00:33] tarkah commented on #82
Lazystream has `armv7-gnueabihf` and `aarch64` releases already. As @taylorbourne pointed out, we've already added `aarch64` support in #49. However, it doesn't appear that xteve has `armv7` binaries available, only `arm64`. So this can't be done until there are `armv7` binaries published for it.

[2022-01-13 00:35] MaDTaZ commented on #80
thanks

[2022-01-13 00:45] neo-neo1 commented on #82
Yep I tested your `armv7-gnueabihf` lazystream release and it works great. Truth be told I don't use xteve. A containerized version of lazystream is my sole desire. Thanks

[2022-01-13 00:48] tarkah commented on #82
If you're just running lazystream, why do you need it containerized? The binary runs on its own.

[2022-01-13 01:05] chapperino commented on #82
unfortunately raspberry pi os (formerly raspbian) is a 32bit os. 64bit is in development and not stable yet. xteve is nice but id gladly settle for a container without it

[2022-01-13 01:11] neo-neo1 commented on #82
Because i run a Kubernetes node. Even if i wasn't i wouldn't run it bare. Most "self hosted" apps today are distributed container first as containerization brings portability, agility, and security among many other things.

[2022-01-13 02:28] tarkah commented on #82
I agree, but lazystream isn't a "hosted" app, so I have no plans to Dockerfile it. You should be able to trivially throw together a few line Dockerfile that downloads the latest release and runs it as the entrypoint.

[2022-01-13 02:51] taylorbourne commented on #82
Sounds like it'd be easiest for you guys to roll your own container, this is a pretty specific bundle.

[2022-01-13 03:45] neo-neo1 commented on #82
Not asking to create a new project. It's a feature request for an already existing container project.

[2022-01-13 03:47] chapperino commented on #82
the standard template reply to why i usually stray away from creating feat req posts.

[2022-01-13 03:53] netty0 commented on #82
This useful feature request was doomed from beginning when owner took it as personally offensive and other contributor inquired why someone would possibly need a container. Majority of the world is on arm32 - but im not here to convince you.

[2022-01-13 04:13] taylorbourne commented on #82
It was never doomed, I said my piece and it's over now. We're all okay.

The purpose of this container is to bring live sports/TV with an XMLTV guide to the media player of your choice – it was never my purpose to simply containerize LazyStream.

I said in my original post that if help was needed introducing ARM support I'd be happy to lend a hand (or do it myself, which is really what I meant). I

[2022-01-13 04:20] taylorbourne commented on #82
Had to reply to you too.. why didn't you open a feature request if it's so important to you? How was I supposed to know how useful this would be?

[2022-01-13 06:01] tarkah commented on #82
I'm just pointing out that lazystream in a container is a bit unnecessary. It is already released for armv7 and runs standalone without any configuration. It's a simple client program that queries some APIs, downloads / parses m3u8 files and passes some args to streamlink. However, I realize this is just my personal viewpoint. I'm more than happy for others that find it useful to open a PR, but I'

[2022-02-07 00:30] MaDTaZ opened #83 "Feature Request: Customize Static Channel Logo"
Hey was wondering instead of the stock images that get generated if it would be possible to have a custom image instead.  Would like to set it so it alway uses the same logo for all games.  With trim turned on I found that the image can get overwritten and then I have ones with the custom one and ones that are newly generated.

[2022-02-16 06:43] hamdanfadi commented on #33
What you mean by --net=host? @umbynos

[2022-02-16 08:53] umbynos commented on #33
https://docs.docker.com/network/host/

[2022-02-16 08:58] hamdanfadi commented on #33
I don't use docker...

[2022-03-19 18:57] WhompingWhale commented on #55
Sorry, that problem became a non-issue for a while when I switched to streaming from my seedbox instead of directly to my HTPC. I'm encountering a similar issue now on my seedbox trying to watch MLB streams. It was remarkably stable at the end of the last MLB season, but I can't get any playback through Plex. Selecting the stream through SSH does give me a URL, however I don't see that URL in xTeV

[2022-03-26 18:05] taylorbourne commented on #55
@WhompingWhale could be related to the news that broke here https://reddit.com/r/nhl_games/comments/teafcr/an_update/

I saw someone mention in another thread that MLB is impacted as well.

[2022-03-27 07:38] WhompingWhale commented on #55
@taylorbourne interesting. I would assume it's not just me unable to stream at this point?

[2022-03-27 21:02] WhompingWhale commented on #55
Interestingly enough, I checked an NHL stream and that's functional. It's just MLB that says "Could not tune channel. Please check your tuner or antenna."

[2022-03-27 21:53] taylorbourne commented on #55
I'm not 100% sure, kind of hard to find info. Someone had asked the main developer (guys who runs the servers) here about MLB but got no response https://reddit.com/r/nhl_games/comments/tkg22g/_/i1sr78y/?context=1

I would verify you can run the stream in VLC. I'll be home tonight (been gone 2.5 weeks) and I can help more.

[2022-03-27 22:09] WhompingWhale commented on #55
Can't seem to get either to run in VLC actually, NHL works ok in Plex which is a bit strange. If I put the stream URL into my browser, the NHL link resolves to a m3u8 but the MLB link says "not available yet", maybe the MLB server is down.

[2022-03-29 00:47] taylorbourne commented on #55
Yeah I'm not getting any MLB streams at the moment either – keep in mind this setup is totally dependent on factors outside of our control. Not saying you didn't already grasp that, just putting it out there for others who may come across this thread. It's looking like things are a bit bleak as far as things continuing so I'll take whatever we can get!

If I see anymore news I'll be sure to let yo

[2022-03-29 06:00] WhompingWhale commented on #55
Right, understandable, hopefully it comes back, but thanks for checking. At least it seems like maybe not a misconfiguration on my end.

[2022-03-31 03:40] neauxm opened #85 "FFMPEG error"
Installed in UnRaid, it was working initially, went back to it an hour later and now I cannot play. Here is the error from the log.

FFMPEG error (Streaming was stopped by third party transcoder (FFmpeg / VLC)) - EC: 1204

[2022-03-31 03:45] taylorbourne commented on #85
Unfortunately that error message could mean a ton of different things. Are you able to play the stream in VLC? If you can, we can rule out the possibility that the stream you selected just isn't working.

Did you spot check a few streams just to be sure?

[2022-03-31 22:31] neauxm commented on #85
I checked a number of streams last night. Initially after I setup it last night, everything was working, showed all the games in the guide and the 3 streams I tried worked. I came back to it about an hour later and none of the streams work.

Today, it’s reporting either Unknown stream in plex ( on my phone) and on my Apple TV, it’s reporting Lazystream: NHL 1 and so on.

[2022-03-31 22:35] neauxm commented on #85
Also, if I paste the M3u url into the network stream spot on VLC it loads NHL stream 1 and plays the Buffalo address.

Copying this link from the top of the Xteve WeBGui: http://IP:port/m3u/xteve.m3u

[2022-03-31 23:43] neauxm commented on #85
I re-added Xteve to plex, and used a link to the xml instead of the url. Same issue. Unknown Airing. If I click any of the channels it still only plays the Buffalo streams from yesterday

![image](https://user-images.githubusercontent.com/76253418/161166976-b1d06614-d71e-4bbb-9b35-b71bd6888174.jpeg)

[2022-04-02 00:36] #85 closed

[2022-04-20 20:43] bob1321 opened #86 "MLB Games on PM"
Hello

Is it only me that I cant get a PM games?
I see the game on the guide but I have this error

2022/04/20 13:40:30 [xTeVe] Streaming Status:       Playlist: mlb - Tuner: 0 / 4
2022/04/20 13:40:33 [xTeVe] Buffer:                 true [ffmpeg]
2022/04/20 13:40:33 [xTeVe] Buffer Size:            5120 KB
2022/04/20 13:40:33 [xTeVe] Channel Name:           Lazystream: MLB 1
2022/04/20 13:40:33 [xT

[2022-04-20 21:27] taylorbourne commented on #86
Hey!

There's chatter all over the subreddits, looks like the servers are down again.

https://reddit.com/r/mlb_games/comments/u4dm9h/41522_streams_down/

[2022-04-20 21:33] bob1321 commented on #86
Oh thats why hahaha

Thank you for your work!!

[2022-04-22 00:51] dpeet opened #87 "Unable to get working with a fresh install - Could not tune channel. Please check your tuner or antenna."
Hey all!  I just found this repo this week and have been trying to get it set up.  This is my first time using the Live TV feature of Plex so fully expect there to be some kinks there.

I have Plex on an Ubuntu server with my host file set correctly.  I cloned the repo, edited the `docker-compose.yml` with my file paths, and created a .env based on the sample and started it up.

In the `.env` file

[2022-10-02 23:37] nexxai opened #88 "Failing to generate guide: `missing field editorial at line 4 column 1`"
It looks like lazystream might be puking on one of the games and so now isn't generating the guide.

[code]

[2022-10-02 23:38] nexxai commented on #88
Tagging @tarkah in case this is an upstream issue

[2022-10-03 16:17] tarkah commented on #88
Looking into this now

[2022-10-03 17:06] tarkah commented on #88
Fixed in https://github.com/tarkah/lazystream/releases/tag/v1.12.1, a new docker image has been pushed using this latest version.

[2022-10-03 17:06] #88 closed

[2022-10-05 03:34] nkm8 opened #90 "aarch64 startup issue"
I updated the aarch64 dockerfile with the latest changes, but I am still having an issue getting the image to run:
[code]

I'm not quite sure what is happening, but it appears to be specific to s6-overlay because I am able to successfully run `cronjob.sh` directly from within the container. However, I am not able to access xteve via browser.

[2022-10-11 16:56] taylorbourne commented on #90
hopefully your PR fixes all of the above!

[2022-10-12 05:19] nkm8 commented on #90
@taylorbourne Unfortunately, I saw these issues with the changes in my PR already applied. Without my changes, the aarch64 image wouldn't run at all.

[2022-10-13 01:12] bob1321 opened #91 "Is it working?"
Hello im not able to open any game with this

But on https://api.nhl66.ir/api/sport/schedule we can have all m3u8, maybe someone can adjust something?

Thank you